In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('canadapercapita.csv',skiprows=1)
df
#read limited data 
df=pd.read_csv('canadapercapita.csv',nrows=5)
df

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [9]:
#  df=pd.read_csv('canadapercapita.csv',na_values['name1','name2'])
#these will replaced with NaN

In [10]:
# We can also pass dictionary to na_values for individual column NaN replacement.
#df=pd.read_csv('gorardim', na_values{
# env:['not available, na'],
# predicted:['not available',na,-1]
#  })

In [11]:
# write to csv with no index
#df.to_csv('bangla',index=False)

#export only two column
# df.to_csv('bangla,columns=['ev','db'])

In [12]:
def convert_people_cell ( cell ) :
    if cell = " n.a . " :
        return ' sam walton '
    return cell
df=pd.read_excel(" stock_data.xlsx " , " Sheet1 " , converters = {
   
    ' people ' : convert_people_cell
    } )
df

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3350193173.py, line 2)

In [16]:
df.to_excel( "new.xlsx" ,sheet_name = "stocks",startrow =1 ,startcol = 2 , index = False )
# start at selected position

ModuleNotFoundError: No module named 'openpyxl'